@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
h1,
h3,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1319px;
}
.navbar-nav {
  gap: 40px;
}
.nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.banner h1,
.banner h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -4.8px;
}
.banner h1 {
  color: #fff;
}
.banner h2 {
  color: #fff;
}
.gradient_btn {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  border-radius: 49px;
  background: var(
    --gradient-2,
    linear-gradient(270deg, #67ce16 0%, #19c1e2 100%)
  );
  padding: 16px 24px;
  border: none;
}
.gain h3,
.gain h4 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3.2px;
}
.gain p {
  color: #fff;
  font-size: 36px;
  line-height: 150%;
}
.why h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -3.2px;
}
.why h6 {
  color: var(--brand-2, #eff0fc);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
.why p {
  color: var(--text-ph-1, #d3d4e0);
  font-size: 24px;
}
