@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1,
h3,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1430px;
}

.navbar {
  margin-bottom: 295px;
}

.navbar-nav {
  gap: 40px;
}

.nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.banner {
  margin-bottom: 455px;
}

.banner h1,
.banner h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -4.8px;
}

.banner h1 {
  color: #fff;
}

.banner h2 {
  color: #fff;
  margin-bottom: 47px;
}

.gradient_btn {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  border-radius: 49px;
  background: var(--gradient-2,
      linear-gradient(270deg, #67ce16 0%, #19c1e2 100%));
  padding: 16px 24px;
  border: none;
}

.gradient_text {
  background: var(--gradient-2,
      linear-gradient(270deg, #67ce16 0%, #19c1e2 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gain {
  margin-bottom: 277px;
}

.gain h3,
.gain h4 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3.2px;
}

.gain h4 {
  margin-bottom: 58px;
}

.gain p {
  color: #fff;
  font-size: 36px;
  line-height: 150%;
}

.why {
  margin-bottom: 300px;
}

.why .content {
  margin-bottom: 70px;
}

.why h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -3.2px;
}

.why h6 {
  color: var(--brand-2, #eff0fc);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.why p {
  color: var(--text-ph-1, #d3d4e0);
  font-size: 24px;
}

.prize {
  margin-bottom: 300px;
}

.prize h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 108.5%;
  letter-spacing: -3.2px;
  margin-bottom: 58px;
}

.prize p {
  color: #fff;
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 58px;
}

.prize .range {
  max-width: 641px;
  margin: auto;
  width: 100%;
  height: 15px;
  -webkit-appearance: none;
  outline: none;
  border-radius: 16px;
  background: #323331;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.prize .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 18px;
  border-radius: 50%;
  background: var(--gradient-2,
      linear-gradient(270deg, #67ce16 0%, #19c1e2 100%));

  cursor: pointer;
  border: 4px solid #fff;
  box-shadow: -407px 0 0 400px #00fd0a;
}

.roadmap h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 108.5%;
  letter-spacing: -3.2px;
  margin-bottom: 42px;
}

.roadmap p {
  color: #fff;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 135px;
}

.roadmap .box {
  border-radius: 24px;
  padding: 32px 24px;
  width: 331px;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #67CE16, #19C1E2) border-box;
  border: 2px solid transparent;
}

.roadmap h6 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.roadmap .map_container {
  position: relative;
  max-width: 800px !important;
  margin: auto;
  justify-content: space-between !important;
}

.roadmap .map_container::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 70%;
  background: var(--gradient-2, linear-gradient(117deg, #67CE16 0%, #19C1E2 100%));
  left: 50%;
  border-radius: 5px;
}

#phaseOne {
  position: relative;
}

#phaseOne::before {
  position: absolute;
  content: '';
  width: 65px;
  height: 65px;
  background-image: url('../src/assets/roadman.png');
  background-repeat: no-repeat;
  left: -27%;
  top: 38%;
}

.roadmap .map_container .map {
  margin-bottom: 133px;
}

.roadmap ul li {
  color: #FFF;
  font-size: 24px;
  line-height: 133.2%;
}

.roadmap button {
  width: 184px;
  border-radius: 35px;
  background: #79F2BB;
  color: var(--black, #000);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border: none;
  display: block;
  margin-bottom: 24px;
}

.join {
  margin-bottom: 126px;
}

.join h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 108.5%;
  letter-spacing: -3.2px;
  margin-bottom: 34px;
}

.join p {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 56px;
}

.footer {
  background: #101010;
  padding: 73px 0 80px;
}

.footer p {
  color: #fff;
  font-size: 24px;
  position: relative;
}

.footer p::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 29px;
  border-radius: 2.5px;
  background: #222121;
  top: 20%;
  left: -13%;
}

.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 0.5px solid #FFF;
  background: #3F3F3F;
}



@media screen and (max-width:991px) {
  .navbar {
    margin-bottom: 40px;
  }

  .banner h1,
  .banner h2 {
    font-size: 40px;
    line-height: 138%;
    letter-spacing: -0.8px;
  }

  element.style {}

  [type=button]:not(:disabled),
  [type=reset]:not(:disabled),
  [type=submit]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }

  .gradient_btn {
    font-size: 16px;
    padding: 8px 17px;

  }

  .banner {
    margin-bottom: 40px;
  }

  .why {
    margin-bottom: 40px;
  }

  .why h3 {
    font-size: 40px;
    letter-spacing: 0.8px;
  }

  .why h6 {
    font-size: 20px;
  }

  .why p {
    font-size: 16px;
  }

  .join {
    margin-bottom: 40px;
  }

  .roadmap h3 {
    font-size: 40px;
    letter-spacing: 0.8px;
  }

  .roadmap ul li {
    font-size: 16px;
  }

  .roadmap p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .roadmap .map_container::before {
    display: none;
  }

  .gain {
    margin-bottom: 40px;
  }

  .gain h3,
  .gain h4 {
    font-size: 40px;
    letter-spacing: 0.8px;
    line-height: 136%;
  }

  .gain p {
    font-size: 16px;
  }

  .prize {
    margin-bottom: 40px;
  }

  .prize h3 {
    font-size: 40px;
    line-height: 135.5%;
    letter-spacing: 0.8px;
  }

  .prize p {
    font-size: 16px;
  }

  .join h3 {
    font-size: 40px;
    letter-spacing: 0.8px;
  }

  .join p {
    font-size: 16px;
  }

  .footer p {
    font-size: 16px;
  }

}