@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1,
h3,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1430px;
}

.navbar {
  margin-bottom: 295px;
}

.navbar-nav {
  gap: 40px;
}

.nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.banner {
  margin-bottom: 455px;
}

.banner h1,
.banner h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -4.8px;
}

.banner h1 {
  color: #fff;
}

.banner h2 {
  color: #fff;
  margin-bottom: 47px;
}

.gradient_btn {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  border-radius: 49px;
  background: var(--gradient-2,
      linear-gradient(270deg, #67ce16 0%, #19c1e2 100%));
  padding: 16px 24px;
  border: none;
}

.gradient_text {
  background: var(--gradient-2, linear-gradient(270deg, #67CE16 0%, #19C1E2 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gain {
  margin-bottom: 277px;
}

.gain h3,
.gain h4 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3.2px;
}

.gain h4 {
  margin-bottom: 58px;
}

.gain p {
  color: #fff;
  font-size: 36px;
  line-height: 150%;
}

.why h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -3.2px;
}

.why h6 {
  color: var(--brand-2, #eff0fc);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.why p {
  color: var(--text-ph-1, #d3d4e0);
  font-size: 24px;
}


.prize .range {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.prize .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}